.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
*/.quarto/
/_site/
*/_book/
!docs/
.Rprofile
modules/*
cache
inputs
outputs
.Rdata
.secret
.secrets

!training/.Rprofile

## files from examples can end up here if not in `training.Rproj`
Introduction/
integratingSpaDESmodules/


